/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($color){
    background-color: $color;
    border: none;
    color: $negro;
    border-radius: 0.5rem;
    font-weight: $bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    display: inline;
    width: auto;
    height: 3rem;
    
    &:hover{
        cursor: pointer;
    }
}

@mixin transicionBotones($colorIntenso){
    transition: all 0.6s ease;
    &:hover{
        background-color: $colorIntenso;
        color: $blanco-gris;
    }
}