//importe de tipografia e iconos
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #1b1b1b;
$blanco: #FFFFFF;
$rojo: #fc4646c9;
$rojo-intenso: #a30000ee;
$gris: #9fa4a7;
$cafe: #A18262;
$blanco-gris:#f1f0f0;
$verde: #38e455c9;
$verde-intenso: #05a820e8;
$verdePrincipal: #09302b;
$amarillo: #f1e420ea;
$amarillo-intenso: #fdc200fd;
$salmon: #e16162;
$azul: #7386d5;
$azul-intenso: #0003b6c7;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;